@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 8px; /* For horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ec4899; /* Vibrant pink (Tailwind’s pink-500) */
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* Adds spacing around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #db2777; /* Darker pink on hover */
}
